.pageContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
  text-align: center;
}
.pageSection {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  padding: 1.6rem;
  text-align: center;
}
.h1Text {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Roboto Mono", monospace;
}

.p1Text {
  font-family: "Roboto Mono", monospace;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0px 2rem 0px;
}

.button,
.submit {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(250, 250, 250);
  border: 2px solid purple !important;
  color: rgb(33, 33, 33);
  display: block;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: all 0.2s ease 0s;
  height: 54px;
}
.button:hover,
.submit:hover {
  background-color: purple;
  color: rgb(250, 250, 250);
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  padding: 1.5rem;
  text-align: center;
}

.input {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  margin: 10px;
  border: solid 2px black;
}
.title {
  text-align: center;
  margin-top: 30px;
}
.items {
  justify-content: center;
  margin: 0 auto;
  max-width: 575px;
  padding: 1.5rem;
  text-align: center;
  margin-top: -20px;
}

.submit {
  margin-top: 50px;
  font-family: "Roboto Mono", monospace;
  background-color: white;
}

.errorText {
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
}
.modal-body {
  border: solid rgb(33, 33, 33);
  max-width: 500px;
}
.afterText {
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.afterButton {
  height: 54px;
  width: 70%;
}
